@model AdminDashboardMVC.DTO.ShipmentDTO
@{
    ViewData["Title"] = "Details";
}

<div class="container p-5">
    <h1>Details</h1>

    <div>
        <h4>Shipment Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                ID
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                Is Completed
            </dt>
            <dd class="col-sm-10">
                @((Model.IsCompleted.HasValue && Model.IsCompleted.Value) ? "Yes" : "No")
            </dd>
            <dt class="col-sm-2">
                Cost
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cost)
            </dd>
            <dt class="col-sm-2">
                Date
            </dt>
            <dd class="col-sm-10">
                @((Model.Date != null) ? Model.Date.Value.ToString("yyyy-MM-dd") : "")
            </dd>
            <dt class="col-sm-2">
                Address
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                More Details
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.moreDetails)
            </dd>
        </dl>
    </div>
    <div>
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
